body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.input-container {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.right-pane {
    flex: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.step-info-container {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    min-height: 40px;
    overflow: auto;
}

.scroll-container {
    flex: 1;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
    gap: 15px; 
}

.button-container button {
    font-size: 18px; 
    padding: 12px 20px; 
    flex: 1; 
    max-width: 150px; 
    height: 50px;
    border-radius: 8px;
    border: none; 
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
}

.button-container button:hover {
    background-color: #0056b3; 
}

.button-container button:disabled {
    background-color: gray !important; 
    color: white !important; 
    cursor: not-allowed; 
    opacity: 0.6; 
}

#highlight-overlay {
    display: none;
}

textarea.locked {
    color: transparent;
    caret-color: transparent;
}

.hidden-tag.highlight {
    background-color: yellow; 
}

textarea {
    width: 100%;
    height: 90%;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.editor-wrapper {
    position: relative;
}

#highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding: 10px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    pointer-events: none;
}

.node rect {
    fill: lightgray;
    stroke: black;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
