body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: auto; 
}

.scroll-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
    overflow: auto; 
    position: relative;
}


svg {
    display: block;
    overflow: visible;
}

.node rect {
    fill: lightgray;
    stroke: black;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.fetchButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.fetchButton:hover {
    background-color: #0056b3;
}
